@use 'variables' as vars;


html,
body {
  height: 100%;
}

body {
  background-color: vars.$color-background-gray;
  box-sizing: border-box;
  color: vars.$app-text-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.back-link {
  display: inline-block;
  margin-bottom: 25px;
  color: vars.$color-primary-blue;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;

  &:hover {
    text-decoration: underline;
  }
}
