<div class="home-container">
    <h1>Frontend Machine Coding Catalog</h1>
    <p>Explore solutions to common frontend interview questions.</p>

    <div class="catalog-list">
        <a routerLink="/infinite-scroll" class="catalog-item">
            <h3>Infinite Scroll List (Virtual Scrolling)</h3>
        </a>
        <a routerLink="/otp-input" class="catalog-item">
            <h3>OTP Input Component</h3>
        </a>
        <a routerLink="/star-rating" class="catalog-item">
            <h3>Star Rating Component</h3>
        </a>
    </div>
</div>
